* {
    border: 0;
    padding: 0;
    margin: 0;
}
body {
    background-color: green;
}

.cab1 {
    padding: 14px;
    background-color: rgb(115, 115, 128);
    border-bottom: 4px solid rgb(255, 252, 254);
}
.links a{
    color: black;
    font-size: 18px;
    line-height: 10px;
    margin: 20px;
    text-decoration: none;
    text-align: left;
}
.links a img{
    width: 2%;
    height:2%;
}
.cab2 {
    padding: 50px;
    background-color: azure;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.info {
    display: grid;
    grid-template-rows: 1fr 1fr;
    text-align: center;
}
.subtitle {
    padding-bottom: 8px;
}
.op2 {
    padding-bottom:40px;
}
.cab2 img {
    border-radius: 100%;
}
